<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
<!--Navbar Fragment-->
<nav th:fragment="navbar" id="my-nav" class="navbar navbar-default bg-dark">
    <ul class="nav navbar-nav">
        <li><a href="/posts">Home</a></li>
        <li><a href="/posts/create">New Post</a></li>

<!--        <li>-->
<!--            <a href="/login">Login</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/register">Register</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form>-->
<!--                <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--            </form>-->
<!--        </li>-->
    </ul>
</nav>

</body>
</html>